body {
	background-color: #eaeaea;
	color: #333;
	/* remove automatic tap highlight color */
	-webkit-tap-highlight-color: transparent;
}

html, body, input, button {
	font-family: Prelude, Prelude Medium, Segoe UI, Arial, Helvetica, Sans-Serif;
	font-size: 20px;
	cursor: default;
}

.enyo-bg {
	background-color: #eaeaea;
}

