.enyo-radio-group {
/*background-color:red;*/
/*	vertical-align:middle;*/
/*	position:relative;*/
	display:inline-block;
}


.enyo-radio-button {
	display:inline-block;
	background-color:red;
/*	position:relative;*/
	height:30px;
	line-height:30px;
	padding:10px;
	text-align:center;
	vertical-align:middle;
}

.enyo-radio-button.enyo-chosen {
	background-color:blue;
}

.enyo-radio-button:first-child {
	color:green;
}
.enyo-radio-button:last-child {
	color:green;
}


