/* TabBarItem.css */
@whitestrong: rgba(255,255,255,1);
@whiteweak:   rgba(255,255,255,0);

.onyx-tab-item {

	position: relative;

	button {
		text-overflow: ellipsis;
		width: 140px;
		overflow: hidden;
		white-space: nowrap;
	}
}

.onyx-tab-item-dissolve {
	display: inline-block;
	height: 100%; 
	width: 50px;
	left: 90px;
	position: absolute;
	
	// tested 
	background: linear-gradient(to right,@whiteweak 0%, @whitestrong 100%); /* W3C */

	// untested
	background: -moz-linear-gradient(right,  @whitestrong 0%, @whiteweak 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, right top, left top, color-stop(0%,@whitestrong), color-stop(100%,@whiteweak)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, @whiteweak,@whitestrong); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  @whitestrong 100%,@whiteweak 0%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  @whitestrong 100%,@whiteweak 0%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
