.onyx-groupbox {
	/*margin: 4px;*/
}

.onyx-groupbox-header {
	padding: 2px 10px;
	/**/
	color: white;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
	/**/
	background-color: #343434;
	/**/
	border-color: transparent;
	border-width: 2px 4px;
	/**/
	-webkit-border-image: url(../../resources/toolbar.png) 2 4 repeat stretch;
}

.onyx-groupbox-item {
	display: block;
	border-color: #AAAAAA;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	/*padding: 10px;*/
}

.onyx-groupbox-item:first-child {
	border-width: 1px;
	border-radius: 4px 4px 0 0;
}

.onyx-groupbox-item:last-child {
	border-radius: 0 0 4px 4px;
}
