.enyo-button-decorator > button, .enyo-button {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	padding: 4px 8px;
	min-width: 14px;
	min-height: 20px;
	-webkit-border-image: url(../../resources/button-up.png) 4 4 4 4 stretch stretch;
	border-width: 4px;
	border-radius: 5px;
	margin: 3px;
	color: #292929;
	background-color: rgba(255,255,255,0.8);
}

.enyo-button-decorator > button:active:not(:disabled), .enyo-button:active:not(:disabled) {
	-webkit-border-image: url(../../resources/button-down.png) 4 4 4 4 stretch stretch;
}

.enyo-button-decorator > button:disabled, .enyo-button:disabled {
	opacity: 0.4;
}

.enyo-button-standard-width {
	min-width: 120px;
}

.enyo-button img {
	padding: 0px 3px;
}

/* light button (often cancel) */

.enyo-button-light {
	background-color: rgba(255,255,255,0.8);
	color: #292929;
}

/* dark button */

.enyo-button-dark {
	color: white;
	background-color: rgba(23,23,23,0.5);
}

/* affirmative (green) */

.enyo-button-affirmative {
	color: white;
	background-color: #2aa100;
}

/* negative (red) */

.enyo-button-negative {
	color: white;
	background-color: #be0003;
}

/* blue */

.enyo-button-blue {
	color: white;
	background-color: #2071bb;
}

/* gray */

.enyo-button-gray {
	color: white;
	background-color: #4b4b4b;
}

