.onyx-button {
	font-size: 16px;
	padding: 4px 8px;
	min-width: 14px;
	min-height: 20px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../../resources/button-up.png) 4 4 4 4 stretch stretch;
	border-width: 4px;
	border-radius: 5px;
	margin: 3px;
	outline: none;
	color: #292929;
	background-color: rgba(255,255,255,0.8);
}

.onyx-button:active:not([disabled]) {
	-webkit-border-image: url(../../resources/button-down.png) 4 4 4 4 stretch stretch;
}

.onyx-button[disabled] {
	opacity: 0.4;
}

.onyx-button > img {
	padding: 0px 3px;
}
