.mail-folder-name {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 12px;
}

.mail-folder-unread {
	float: right;
	padding: 4px 0px;
	border-width: 0px 11px 0px 11px;
	-webkit-border-image: url(../images/email-badge.png) 0 11 0 11;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

/**/

.mail-from, .mail-subject, .mail-blurb {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mail-flag-icon {
	float: left;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.mail-from {
	font-weight: bold;
	font-size: 16px;
	padding: 0px;
	vertical-align: middle;
}

.mail-when {
	vertical-align: middle;
	float: right;
	font-weight: bold;
	font-size: 10px;
	text-align: right;
	color: #777;
}

/**/

.mail-subject {
	clear: both;
	margin-left: 24px;
	font-size: 17px;
	color: #2d6c94;
	padding-bottom: 3px;
}

/**/

.mail-blurb {
	margin-left: 24px;
	font-size: 12pt;
}

/**/ 

.mail-status-icon {
	display: inline-block;
}

.mail-calendar-icon, .mail-status-reply {
	display: inline-block;
	width: 18px;
	height: 18px;
}

.mail-calendar-icon {
	background-image: url(images/list-cal-invite.png);
}

.mail-status-reply {
	background-image: url(images/list-reply.png);
}

.mail-flag {
	background-image: url(images/list-flagged.png);
}

.mail-flag-priority {
	background-image: url(images/list-priority-flagged.png);
}

.mail-attach-icon {
	float: right;
	display: inline-block;
	background-image: url(images/attachment-icon.png);
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin: 4px 8px;
}

.mail-divider {
	margin: -1px 0px;
	padding: 4px 0 0 24px;
	background: #e4e4e2 url(../images/palm-divider-collapse-left.png) repeat-x;
}

/* Body */

.mail-body {
	font-size: 14px;
	padding: 4px;
}

.mail-body-from-box {
	margin-right: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mail-body-from {
}

.mail-body-when {
	font-size: 17px;
	color: #777;
}

.mail-body-subject {
	font-weight: bold;
	color: white;
	font-size: 18px;
	/**/
	padding: 0px;
	/**/
	border-width: 2px 0px;
	-webkit-border-image: url(../images/email-readview-subject.png) 2 0 2 0;
	-webkit-box-sizing: border-box;
}

.mail-body-from-photo {
	position: absolute;
	right: 8px;
	top: 10px;
	height: 60px;
	width: 58px;
	background-image: url(../images/msg-avatar-unclipped-well.png);
}

.mail-body-from-photo img {
	-webkit-border-radius: 7px;
	width: 44px;
	height: 45px;
	margin: 6px 7px;
}
