.onyx-groupbox {
	margin: 4px;
	/* FIXME: experimental: add a little extra shadow inside the box */
	border-radius: 4px;
	box-shadow: inset 0 0 2px #343434;
}

.onyx-groupbox > .onyx-groupbox-item.onyx-groupbox-header {
	background-color: #343434;
	color: white;
	/**/
	border-color: transparent;
	border-width: 2px 4px;
	-webkit-border-image: url(../../resources/toolbar.png) 2 4 repeat stretch;
	padding: 2px 10px;
}

.onyx-groupbox > .onyx-groupbox-item {
	border-color: #aaa;
	border-style: solid;
	/* border-width: 0px 1px 1px 1px; */
	/* FIXME: experimental: add top border for extra row definition */
	border-top-color: #fff;
	border-width: 1px 1px 1px 1px;
	/* FIXME: if we use default spacing here, everyone who doesn't want it must defeat it */
	padding: 10px;
}

.onyx-groupbox > *:first-child {
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	/* FIXME: experimental: reset top color */
	border-top-color: #aaa;
}

.onyx-groupbox > *:last-child {
	border-radius: 0 0 4px 4px;
}

/* FIXME: onyx-item-decorator is experimental. Item has a min-height */
.onyx-groupbox > .onyx-item-decorator, .onyx-item-decorator {
	padding: 2px;
	min-height: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.onyx-item-decorator > * {
	margin-right: 3px;
}

.onyx-item-decorator > *:last-child {
	margin-right: 0px;
}