.onyx-icon {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.onyx-icon.active, .onyx-icon:active:hover {
	background-position: 0 -32px;
}
