/*
	FIXME: when floating the menu does not have the onyx class
	if it's applied to a parent. If we apply it to the menu, 
	font-size was overridden. Should we apply the theme class to the
	modal layer?
*/
.onyx-menu, .onyx.onyx-menu {
	font-size: 16px;
	min-width: 160px;
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 2px;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 3px;
	text-align: right;
}

.onyx-menu-item {
	padding: 10px;
}

.onyx-menu-item:hover {
	background: lightblue;
}

.onyx-menu-divider, .onyx-menu-divider:hover {
	margin: 6px 0;
	padding: 0;
	border-bottom: 1px solid #aaa;
}

.onyx-menu-decorator {
	display: inline-block;
	position: relative;
}