.onyx {
	font-family: Prelude, Prelude Medium, Segoe UI, Neue Helvetica, Arial, Helvetica, Sans-Serif;
	font-size: 20px;
	cursor: default;
	background-color: #EAEAEA;
	/* remove automatic tap highlight color */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* prevent IE from inheriting line-height for these elements */
.onyx button, .onyx label, .onyx input {
	line-height: normal;
}
