.onyx-scrim {
	z-index: 1;
	/*
		note: by using pointer-events we allow tapping on scrim
		while it is fading out; however, this requires any showing classes
		to set pointer events to auto or scrim will not function as expected.
	*/
	pointer-events: none;
}

.onyx-scrim.onyx-scrim-translucent{
	pointer-events: auto;
	background: rgba(0, 0, 0, 0.65);
}

.onyx-scrim.onyx-scrim-transparent {
	pointer-events: auto;
	background: transparent;
}
