.onyx-sample {
	padding: 10px;
}
.onyx-sample-tools {
	padding-bottom:10px;
}
.onyx-sample-tools > * {
	margin: 3px;
}
.onyx-sample-divider {
	color: #F49200;
	text-transform: uppercase;
	font-family: Segoe UI, Prelude Medium, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
.onyx-sample-result-box {
	width:100%;
}
.onyx-sample-result {
	padding:8px;
}
.onyx-sample-spaced-button {
	margin:3px;
}
.onyx-sample-animate-label {
	vertical-align:middle; 
	padding-left:5px;
}
.onyx-sample-label {
	color: #1879CD;
	font-size: 18px;
	text-transform: uppercase;
}
.onyx-sample-popup {
	font-size: 30px;
	text-align: center;
}
.onyx-contextualpopup-toolbarcheck {
	position:absolute;
	z-index:200;
	margin-left:35%	
}
.onyx-contextualpopup-toolbarcheck-label {
	display: inline-block;
	padding-left:10px; 
	width: 120px;
	padding-right: 10px;"
}
.onyx-contextualpopup-scroller-content {
	width:5000px;
	height:2000px;
}
.onyx-contextualpopup-button-container{
	margin-left:1500px;
	margin-top:1000px;
}