.onyx-radiobutton {
	/* compatible */
	padding: 8px;
	border: 0;
	outline: 0;
	text-align: center;
	/**/
	background: #E7E7E7 url(../../images/gradient.png) repeat-x bottom;
	/* fancy */
	box-shadow: inset 0px 0px 1px 1px #888;
	/* questionable */
	/*
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	*/
}

.onyx-radiobutton:first-child {
	border-radius: 3px 0 0 3px;
}

.onyx-radiobutton:last-child {
	border-radius: 0px 3px 3px 0px;
}

.onyx-radiobutton.active {
	color: White;
	background: #0091F2 url(../../images/gradient-invert.png) repeat-x top;
}


