.onyx-radiobutton {
	/* compatible */
	padding: 8px;
	border: 0;
	outline: 0;
	text-align: center;
	background-color: #E2E2E2;
	/* fancy */
	box-shadow: inset 0px 0px 1px 1px #888;
	/* platform only */
	background-image: -webkit-linear-gradient(top, #E2E2E2 0%, #BDBDBD 100%);
	background-image: -ms-linear-gradient(top, #E2E2E2 0%, #BDBDBD 100%);
	/* older webkit syntax */
	/*
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E2E2E2), to(#BDBDBD));
	*/
	/* questionable */
	/*
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	*/
}

.onyx-radiobutton:first-child {
	border-radius: 3px 0 0 3px;
}

.onyx-radiobutton:last-child {
	border-radius: 0px 3px 3px 0px;
}

.onyx-radiobutton.active {
	background-image: -webkit-linear-gradient(top, #BDBDBD 0%, #E2E2E2 100%);
	X-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.20), inset 0px 1px 0px rgba(0,0,0,0.3), inset 0px -1px 0px rgba(0,0,0,0.3);
}