.onyx-input-decorator {
	border-radius: 8px;
	padding: 12px;
	border: 1px solid transparent;
}

.onyx-input-decorator.focused {
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
	border-color: silver;
}

.onyx-input-decorator > input, .onyx-input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

/*
input::-webkit-input-placeholder {
	color: #888;
}
*/

.onyx-input-disabled {
	/*color: darkGray;*/
	/*
		HACK: this is needed to color a disabled input placeholder.
		Also works for filled inputs as well thankfully 
	*/
	/*
	-webkit-text-fill-color: #888;
	*/
	opacity: 0.625;
}
