.onyx-input-decorator {
	border: 14px solid transparent;
	/**/
	/* for non-image version */
	/*
	padding: 12px;
	border-radius: 8px;
	border: 1px solid transparent;
	*/
}

.onyx-input-decorator.onyx-focused {
	-webkit-border-image: url(../../resources/input-focus.png) 14 14;
	/**/
	/* for non-image version */
	/*
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
	border-color: silver;
	*/
}

.onyx-input-decorator.onyx-disabled {
	/* FIXME: test before including: needed to color a disabled input placeholder. */
	/*-webkit-text-fill-color: #888;*/
	opacity: 0.3;
}

.onyx-input-decorator > .onyx-input {
	/* reset */
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	/* FIXME: test before including: hack for styling reset on Android */
	/* -webkit-appearance: caret;*/
}

.onyx-input-decorator.onyx-focused > .onyx-input {
	cursor: text;
}

.onyx-input-decorator.onyx-disabled > .onyx-input {
	cursor: default;
}