.enyo-input-decorator {
	border-width: 14px;
	border-style: solid;
	border-color: transparent;
	-webkit-box-sizing: border-box;
	font-size: .9rem;
}

.enyo-input-decorator.focused {
	-webkit-border-image: url(../../resources/input-focus.png) 14 14;
}

.enyo-input-decorator > input, .enyo-input {
	border: none;
	margin: 0;
	outline: none;
	background-color: transparent;
	padding: 0;
	-webkit-appearance: caret;
	-webkit-box-sizing: border-box;
	cursor: pointer;
	font-size: .9rem;
	/*display: block;*/
	/*width: 100%;*/
}

input::-webkit-input-placeholder, isindex::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #888;
}

.enyo-input-disabled {
	/*color: darkGray;*/
	/* HACK: this is needed to color a disabled input placeholder.
	 * Also works for filled inputs as well thankfully */
	-webkit-text-fill-color: #888;
	opacity: 0.625;
}

.enyo-input-input:focus {
	cursor: text;
}





