.app {
	overflow: hidden;
}

.menu {
	margin: 0;
}

.pullout {
	position: absolute;
	top: 56px;
	right: 0;
	bottom: 0;
	width: 320px;
	background: #D8D8D8;
}

.pullout-shadow {
	position: absolute;
	height: 100%;
	width: 20px;
	left: -20px;
	background: url(../images/sliding-shadow.png) repeat-y;
	background-size: 20px 2px;
}

.pullout-grabbutton {
	position: absolute;
	height: 54px;
	width: 50px;
	bottom: 20px;
	left: -46px;
	border: none;
	border-radius: 10px 0 0 10px;
	background: #D8D8D8 url(../images/grabbutton.png) no-repeat;
	box-shadow: -6px 8px 9px -5px rgba(0, 0, 0, 0.7);
}

.pullout-toolbar {
	padding-top: 4px;
	text-align: center;
}

.settings {
	padding: 10px;
}

.settings > * {
	padding: 10px;
	min-height: 30px;
	line-height: 30px;
}

.settings > * > * {
	display: inline-block;
}

.labeled-item-icon {
	vertical-align: bottom;
	padding-right: 5px;
}

.bookmark-header {
	text-align: center;
	padding: 10px 0;
}

.bookmark-list {
	background-color: #fff;
}

.bookmark-item {
	padding: 10px;
}	

.bookmark-item-title, .bookmark-item-details {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bookmark-item-title {
	margin-top: 10px;
	font-size: 16px;
}

.bookmark-item-details {
	font-size: 14px;
	color: #606060;
}

.infobox {
	position: absolute;
	padding: 10px;
	border-radius: 10px;
	background-color: #4C4C4C;
	color: #fff;
	font-size: 18px;
}

.infobox-details {
	font-size: 14px;
}