.onyx-button.onyx-toolbar-item {
	color: #F2F2F2;
	background-color: #555656;
}

/*
.onyx-button:active:not([disabled]).onyx-toolbar-item, .enyo-button.onyx-depressed.enyo-toolbar-item {
	x-webkit-border-image: url(../../resources/button-down.png) 4 4 4 4 stretch stretch;
}

.enyo-tool-button-client.enyo-button-disabled {
	xopacity: 0.4;
}
*/