.onyx-input-decorator.onyx-toolbar-item {
	margin: 0 3px;
	/* border-image */
	/*
	border: 6px solid transparent;
	-webkit-border-image: url(../../resources/input-tool.png) 6 6 6 6;
	*/
	
	box-shadow: inset 0px 1px 4px rgba(0,0,0,0.1);
	background-color: rgba(0, 0, 0, 0.1);
	padding: 2px 6px 3px 6px;
}

.onyx-input-decorator.onyx-toolbar-item.onyx-focused {
	/*-webkit-border-image: url(../../resources/input-tool-focus.png) 6 6 6 6;*/
	/* non-image version */
	box-shadow: inset 0px 1px 4px rgba(0,0,0,0.3);
	background-color: white;
}

.onyx-input-decorator.onyx-toolbar-item > .onyx-input {
	color: #e5e5e5;
	font-size: 14px;
}

.onyx-input-decorator.onyx-toolbar-item > .onyx-input:focus {
	color: #000;
}

.onyx-input-decorator.onyx-toolbar-item > .onyx-input:focus::-webkit-input-placeholder {
	color: #ddd;
}