.onyx-toolbar {
	/* border box so we can set logical height subtracting padding/border */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/**/
	min-height: 54px;
	line-height: 54px;
	/**/
	background-color: #343434;
	color: white;
	/**/
	border-width: 2px 4px;
	-webkit-border-image: url(../../resources/toolbar.png) 2 4 repeat stretch;
	/* FIXME: maybe space should be specified by items so it's customizable or maybe flexbox centering */
	/* padding: 14px; */
}

.onyx-toolbar.onyx-light {
	-webkit-border-image: url(../../resources/toolbar-light.png) 2 4 repeat stretch;
	background-color: #a9a9a9;
	color: black;
}

.onyx-toolbar-item {
	Xmargin: 10px 6px;
	margin: 0 6px;
}


/* FIXME: basically superfluous */
/*
.onyx-header {
	-webkit-border-image: url(../../resources/header.png) 2 0;
	min-height: 50px;
	padding: 12px;
	border-width: 2px 0;
	background-color: #ccc;
	color: #444;
}

.onyx-header.onyx-dark {
	-webkit-border-image: url(../../resources/toolbar.png) 2 4 repeat stretch;
	background-color: #343434;
	color: #fff;
}
*/